Repository hmajid2301/bookmarkey-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., eslint --fix

feat: Migrate to pnpm
  .eslintignore
  .gitignore
  .gitlab-ci.yml
  .prettierignore
  Taskfile.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/routes/(unprotected)/(account)/reset/+page.svelte
  src/routes/(unprotected)/(account)/verify/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add more Unit Tests
  .eslintrc.cjs
  src/app.d.ts
  src/lib/components/atoms/Avatar.test.ts
  src/lib/components/atoms/Button.test.ts
  src/lib/components/atoms/ErrorText.test.ts
  src/lib/components/atoms/FullWidthButton.svelte
  src/lib/components/atoms/FullWidthButton.test.ts
  src/lib/components/atoms/Input.test.ts
  src/lib/components/atoms/Label.test.ts
  src/lib/components/atoms/Note.test.ts
  src/lib/components/atoms/ProfileMenuItem.test.ts
  src/lib/components/atoms/SideBarItem.svelte
  src/lib/components/atoms/SideBarItem.test.ts
  src/lib/components/molecules/CameraUploadButton.svelte
  src/lib/components/molecules/CameraUploadButton.test.ts
  src/lib/components/molecules/EmailInput.test.ts
  src/lib/components/molecules/Footer.test.ts
  src/lib/components/molecules/Header.svelte
  src/lib/components/molecules/Header.test.ts
  src/lib/components/molecules/IconButton.svelte
  src/lib/components/molecules/IconButton.test.ts
  src/lib/components/molecules/OAuthLoginButton.svelte
  src/lib/components/molecules/OAuthLoginButton.test.ts
  src/lib/components/molecules/PasswordIndicator.test.ts
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/molecules/PasswordInput.test.ts
  src/lib/components/molecules/ProfileMenu.svelte
  src/lib/components/molecules/ProfileMenut.test.ts
  src/lib/components/molecules/SideBarItems.svelte
  src/lib/components/molecules/SideBarItems.test.ts
  src/lib/components/organisms/EmailVerificationForm.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/ResetPasswordForm.svelte
  src/routes/(unprotected)/(account)/+layout.server.ts
  src/routes/(unprotected)/(account)/login/+page.svelte
  src/routes/(unprotected)/(account)/register/+page.svelte
  src/routes/(unprotected)/(account)/types.ts
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

ci: Speed Up CI
  .gitlab-ci.yml
  package.json
  pnpm-lock.yaml
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=.

ci: Specify docker image versions
  .gitlab-ci.yml
  docker-compose.yml
  tests/docker-compose.test.yml
Due: none

chore: run deploy
  .gitignore
Due: none

ci: Speed up Tests
  .env.test
  .gitignore
  .gitlab-ci.yml
  Taskfile.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Use Netlify Edge Functions
  Taskfile.yml
  netlify.toml
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Improve password UX
  .eslintrc.cjs
  src/lib/components/atoms/FullWidthButton.test.ts
  src/lib/components/atoms/Rule.svelte
  src/lib/components/atoms/Rule.test.ts
  src/lib/components/molecules/PasswordIndicator.svelte
  src/lib/components/molecules/PasswordIndicator.test.ts
  src/lib/components/molecules/PasswordRules.svelte
  src/lib/components/molecules/PasswordRules.test.ts
  src/lib/components/molecules/Rules.svelte
  src/lib/components/molecules/Rules.test.ts
  src/lib/components/molecules/SideBarItems.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/UpdatePassword.test.ts
  src/lib/components/organisms/UpdatePasswordForm.svelte
  src/routes/(unprotected)/(account)/+layout.server.ts
  src/routes/(unprotected)/(account)/login/+page.svelte
  src/routes/(unprotected)/(account)/register/+page.svelte
  src/routes/(unprotected)/(account)/reset/+page.svelte
  src/routes/(unprotected)/(account)/verify/+page.svelte
  src/routes/my/+layout.svelte
  src/routes/my/settings/+page.server.ts
  src/routes/my/settings/+page.svelte
  tests/UpdatePassword.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add more unit tests
  package.json
  pnpm-lock.yaml
  setupTest.ts
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/molecules/SideBarItems.svelte
  src/lib/components/organisms/AvatarProfileMenu.test.ts
  src/lib/components/organisms/EmailVerificationForm.test.ts
  src/lib/components/organisms/HelloBar.test.ts
  src/lib/components/organisms/NavBar.test.ts
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/RegisterForm.test.ts
  src/lib/components/organisms/ResetPasswordForm.test.ts
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/SideBar.test.ts
  src/lib/components/organisms/UpdatePassword.test.ts
  src/lib/components/organisms/UpdatePasswordForm.test.ts
  src/lib/components/organisms/UpdateProfileForm.test.ts
  tsconfig.json
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add more E2E tests
  docker-compose.yml
  global-setup.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/components/atoms/ProfileMenuItem.svelte
  src/lib/components/molecules/CameraUploadButton.svelte
  src/lib/components/molecules/Header.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/UpdatePasswordForm.svelte
  src/lib/components/organisms/UpdateProfileForm.svelte
  svelte.config.js
  tests/Register.test.ts
  tests/UpdatePassword.test.ts
  tests/UpdateProfile.test.ts
  tests/docker-compose.test.yml
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: Login Button
  src/lib/components/atoms/Button.svelte
  src/lib/components/atoms/Button.test.ts
  src/lib/components/organisms/NavBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add new logo
  src/app.html
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/favicon.png
  static/logo.png
  static/maskable_icon.png
  static/site.webmanifest
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

ci: Small CI Improvments
  .gitlab-ci.yml
Due: none

feat: Send Discord Notification
  .gitlab-ci.yml
Due: none

ci: Try pipeline again (without cycle)
  .gitlab-ci.yml
Due: none

fix: Go back to pipedream
  .gitlab-ci.yml
Due: none

feat: User can add collection
  src/app.d.ts
  src/lib/components/atoms/Button.svelte
  src/lib/components/atoms/ContextMenuItems.svelte
  src/lib/components/atoms/ContextMenuItems.test.ts
  src/lib/components/atoms/Input.svelte
  src/lib/components/atoms/LinkItem.svelte
  src/lib/components/atoms/LinkItem.test.ts
  src/lib/components/atoms/Modal.svelte
  src/lib/components/atoms/Modal.test.ts
  src/lib/components/atoms/TransparentButton.svelte
  src/lib/components/molecules/ContextMenu.svelte
  src/lib/components/molecules/FormField.svelte
  src/lib/components/molecules/Header.test.ts
  src/lib/components/molecules/IconButton.svelte
  src/lib/components/molecules/LinkItems.svelte
  src/lib/components/molecules/LinkItems.test.ts
  src/lib/components/molecules/ProfileMenu.svelte
  src/lib/components/organisms/AddCollectionForm.svelte
  src/lib/components/organisms/AddCollectionForm.test.ts
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/RegisterForm.test.ts
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/SideBar.test.ts
  src/lib/components/organisms/UpdatePasswordForm.svelte
  src/lib/use/clickOutside.ts
  src/routes/(unprotected)/(account)/register/+page.svelte
  src/routes/my/+layout.server.ts
  src/routes/my/+layout.svelte
  src/routes/my/collections/+page.server.ts
  src/routes/my/collections/[name]/+page.server.ts
  src/routes/my/collections/[name]/+page.svelte
  tests/AddCollection.test.ts
  tests/UpdateProfile.test.ts
  tests/pb_data/data.db
  tsconfig.json
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: Login Page Internal Error
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

Fix: on:blur add collection
  src/lib/components/molecules/ContextMenu.svelte
  src/lib/components/molecules/LinkItems.svelte
  src/lib/components/molecules/ProfileMenu.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Delete Collections
  Taskfile.yml
  global-setup.ts
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/Collections.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/routes/my/+layout.server.ts
  src/routes/my/collections/+page.server.ts
  src/routes/my/collections/[name]/+page.server.ts
  src/routes/my/collections/[name]/+server.ts
  tests/UpdateCollections.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: missing node_env
  netlify.toml
Due: none

fix: broken login in production
  Taskfile.yml
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: Netlify Deploy
  netlify.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat: Add Sentry Server-Side
  src/hooks.server.ts
  src/routes/(unprotected)/(account)/login/+page.server.ts
  src/routes/(unprotected)/(account)/register/+page.server.ts
  src/routes/(unprotected)/(account)/reset/+page.server.ts
  src/routes/(unprotected)/(account)/verify/+page.server.ts
  src/routes/+layout.server.ts
  src/routes/my/collections/+page.server.ts
  src/routes/my/collections/[name]/+server.ts
  src/routes/my/settings/+page.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Allow users to create group
  .gitlab-ci.yml
  .prettierrc
  netlify.toml
  src/hooks.server.ts
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/Collections.svelte
  src/lib/components/molecules/FormField.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/molecules/Group.test.ts
  src/lib/components/molecules/Header.test.ts
  src/lib/components/organisms/AddCollectionForm.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/SideBar.test.ts
  src/lib/pocketbase-types.ts
  src/routes/my/+layout.server.ts
  src/routes/my/+layout.svelte
  src/routes/my/collections/+page.server.ts
  src/routes/my/groups/+page.server.ts
  tests/SideBar.test.ts
  tests/UpdateCollections.test.ts
  tests/UpdateGroup.test.ts
  tests/UpdateProfile.test.ts
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: CI Pipeline
  .gitlab-ci.yml
Due: none

feat: allow groups to be draggable
  .gitignore
  .gitlab-ci.yml
  Taskfile.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/lib/components/molecules/Collections.svelte
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/pocketbase-types.ts
  src/routes/my/+layout.server.ts
  src/routes/my/groups/+page.server.ts
  src/routes/my/groups/swap/+server.ts
  tests/Register.test.ts
  tests/SideBar.test.ts
  tests/UpdateCollections.test.ts
  tests/UpdateGroup.test.ts
  tests/UpdateProfile.test.ts
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Allow users to delete group
  .gitlab-ci.yml
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/routes/(unprotected)/(account)/login/+page.svelte
  src/routes/(unprotected)/(account)/register/+page.svelte
  src/routes/(unprotected)/(account)/reset/+page.svelte
  src/routes/(unprotected)/(account)/verify/+page.svelte
  src/routes/(unprotected)/+page.svelte
  src/routes/my/collections/[name]/+page.svelte
  src/routes/my/dashboard/+page.svelte
  src/routes/my/groups/[name]/+server.ts
  src/routes/my/settings/+page.svelte
  tests/UpdateGroup.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Allow users to move collections between groups
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/Collections.svelte
  src/lib/components/molecules/DraggableCollections.svelte
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/stores/DraggableStore.ts
  src/routes/my/collections/[name]/+server.ts
  src/routes/my/collections/move/+server.ts
  src/routes/my/groups/[name]/+server.ts
  tests/UpdateCollections.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add Sentry Replay
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

chore: Move common types
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/Collections.svelte
  src/lib/components/molecules/ContextMenu.svelte
  src/lib/components/molecules/DraggableCollections.svelte
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/molecules/LinkItems.svelte
  src/lib/components/molecules/OAuthLoginButton.svelte
  src/lib/components/molecules/PasswordIndicator.svelte
  src/lib/components/molecules/ProfileMenu.svelte
  src/lib/components/molecules/Rules.svelte
  src/lib/components/molecules/SideBarItems.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/types/api.ts
  src/lib/types/components.ts
  src/lib/types/form.ts
  src/routes/(unprotected)/(account)/+layout.server.ts
  src/routes/(unprotected)/(account)/register/+page.server.ts
  src/routes/+layout.server.ts
  src/routes/my/+layout.server.ts
  src/routes/my/collections/move/+server.ts
  src/routes/my/groups/swap/+server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Add redis support
  .env.sample
  .gitlab-ci.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  setupTest.ts
  src/server/redis.ts
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix

feat: Allow only single context menu
  src/lib/components/atoms/ContextMenuItems.svelte
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/ContextMenu.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: E2E Tests
  .gitlab-ci.yml
  playwright.config.ts
  src/lib/components/molecules/Group.svelte
  tests/UpdateGroup.test.ts
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: Context menus on mobile
  src/lib/components/molecules/ContextMenu.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix

chore: Update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

ci: speed up unit tests
  src/lib/components/atoms/ContextMenuItems.test.ts
  src/lib/components/atoms/LinkItem.test.ts
  src/lib/components/atoms/Modal.svelte
  src/lib/components/atoms/ProfileMenuItem.test.ts
  src/lib/components/atoms/Rule.svelte
  src/lib/components/atoms/SideBarItem.test.ts
  src/lib/components/molecules/CameraUploadButton.svelte
  src/lib/components/molecules/CollectionItem.svelte
  src/lib/components/molecules/EmailInput.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/molecules/Header.svelte
  src/lib/components/molecules/IconButton.test.ts
  src/lib/components/molecules/LinkItems.test.ts
  src/lib/components/molecules/OAuthLoginButton.svelte
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/molecules/ProfileMenut.test.ts
  src/lib/components/molecules/SideBarItems.test.ts
  src/lib/components/organisms/AddCollectionForm.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/NavBar.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/UpdateProfileForm.svelte
  src/routes/my/settings/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix

fix: Remove rennovate bot
  .gitlab-ci.yml
Due: none

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint --fix: any of: *.{js,ts,svelte}
