Repository hmajid2301/bookmarkey-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

.lintstagedrc:

{
	"*.{js,ts,svelte,css,scss,postcss,md,json}": ["prettier --write --plugin-search-dir=."],
	"*.{js,ts,svelte}": ["eslint --fix", "svelte-kit sync", "svelte-check --tsconfig ./tsconfig.json"]
}

feat: Configure Renovate
  .gitlab-ci.yml
  Taskfile.yml
  package.json
  renovate.json
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Header.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Improve add collection UX
  src/lib/components/molecules/DraggableCollections.svelte
  src/lib/components/molecules/DraggableGroups.svelte
  src/lib/components/molecules/Group.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/stores/DraggableStore.ts
  src/lib/stores/SelectedGroup.ts
  src/routes/my/collections/[name]/+page.server.ts
  src/routes/my/collections/[name]/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

chore(deps): update dependency @playwright/test to v1.30.0
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

chore(deps): update dependency @sveltejs/adapter-auto to v1.0.2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

chore(deps): update dependency @sveltejs/adapter-netlify to v1.0.5
  netlify.toml
  package.json
  pnpm-lock.yaml
  renovate.json
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

chore(deps): update dependency @vitest/coverage-c8 to ^0.28.0
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

chore: update renovate
  renovate.json
Due: prettier --write --plugin-search-dir=.

chore(deps): update dependency neverthrow to v6
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat: Move profile menu
  src/lib/components/molecules/Group.svelte
  src/lib/components/molecules/ProfileMenu.svelte
  src/lib/components/molecules/ProfileMenut.test.ts
  src/lib/components/organisms/AddCollectionButton.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/HelloBar.svelte
  src/lib/components/organisms/HelloBar.test.ts
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/SideBar.test.ts
  src/routes/+layout.svelte
  src/routes/my/+layout.svelte
  src/routes/my/settings/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: improve atom tests
  Taskfile.yml
  src/lib/components/atoms/ContextMenuItems.test.ts
  src/lib/components/atoms/FullWidthButton.test.ts
  src/lib/components/atoms/Input.svelte
  src/lib/components/atoms/Input.test.ts
  src/lib/components/atoms/LinkItem.svelte
  src/lib/components/atoms/LinkItem.test.ts
  src/lib/components/atoms/Logo.test.ts
  src/lib/components/atoms/Modal.test.ts
  src/lib/components/atoms/ProfileMenuItem.svelte
  src/lib/components/atoms/ProfileMenuItem.test.ts
  src/lib/components/atoms/SideBarItem.svelte
  src/lib/components/atoms/SideBarItem.test.ts
  src/lib/components/molecules/CameraUploadButton.test.ts
  src/lib/components/molecules/Collection.svelte
  src/lib/components/molecules/DraggableCollections.svelte
  src/lib/components/molecules/LinkItems.svelte
  src/lib/components/molecules/SideBarItems.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: mobile issues
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/components/atoms/LinkItem.svelte
  src/lib/components/atoms/Modal.svelte
  src/lib/components/molecules/Collection.svelte
  src/lib/components/molecules/__tests__/Collection.test.ts
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Add more organism tests
  src/lib/components/atoms/LinkItem.svelte
  src/lib/components/molecules/AddCollectionButton.svelte
  src/lib/components/molecules/CollectionGroups.svelte
  src/lib/components/molecules/__tests__/AddCollectionButton.test.ts
  src/lib/components/molecules/__tests__/CollectionGroups.test.ts
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/AvatarProfileMenu.test.ts
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/RegisterForm.test.ts
  src/lib/components/organisms/ResetPasswordForm.test.ts
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/SideBar.test.ts
  src/lib/components/organisms/UpdatePasswordForm.test.ts
  src/lib/components/organisms/UpdateProfileForm.test.ts
  src/lib/components/organisms/__tests__/AddGroupForm.test.ts
  src/lib/components/organisms/__tests__/AvatarProfileMenu.test.ts
  src/lib/components/organisms/__tests__/CollectionSideBar.test.ts
  src/lib/components/organisms/__tests__/Group.test.ts
  src/lib/components/organisms/__tests__/SideBar.test.ts
  src/lib/stores/SelectedGroup.ts
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

chore(deps): update dependency @sveltejs/adapter-auto to v1.0.3
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat: E2E Test Coverage
  .c8rc.json
  .gitignore
  .gitlab-ci.yml
  .nycrc.json
  .prettierignore
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  src/lib/components/molecules/AddCollectionButton.svelte
  src/lib/components/molecules/CollectionGroups.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/SideBar.svelte
  src/routes/my/+layout.svelte
  tests/Login.test.ts
  tests/Register.test.ts
  tests/SideBar.test.ts
  tests/UpdateCollections.test.ts
  tests/UpdateGroup.test.ts
  tests/UpdateProfile.test.ts
  tests/baseFixtures.ts
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: truncate long nickname
  src/lib/components/organisms/SideBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: Create group button
  src/lib/components/molecules/AddCollectionButton.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/SideBar.svelte
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

refactor: remove store from components
  src/lib/components/molecules/AddCollectionButton.svelte
  src/lib/components/molecules/CollectionGroups.svelte
  src/lib/components/molecules/__tests__/CollectionGroups.test.ts
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/__tests__/CollectionSideBar.test.ts
  src/lib/components/organisms/__tests__/DraggableCollections.test.ts
  src/lib/components/organisms/__tests__/DraggableGroups.test.ts
  src/lib/components/organisms/__tests__/Group.test.ts
  src/lib/components/organisms/__tests__/SideBar.test.ts
  src/lib/stores/DraggableStore.ts
  src/lib/stores/SelectedGroup.ts
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: Draggable SIdeBar
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

refactor: Tidy Up Home Page, Login and Register
  src/app.css
  src/lib/components/atoms/FullWidthButton.svelte
  src/lib/components/atoms/TransparentButton.svelte
  src/lib/components/molecules/IconButton.svelte
  src/lib/components/molecules/OAuthLoginButton.svelte
  src/lib/components/molecules/Password.svelte
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/molecules/__tests__/Password.test.ts
  src/lib/components/organisms/NavBar.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/UpdatePasswordForm.svelte
  src/lib/components/organisms/__tests__/NavBar.test.ts
  src/routes/(unprotected)/+layout.svelte
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: Transition sidebar on mobile
  src/routes/my/+layout.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: Profile menu
  src/lib/components/organisms/AvatarProfileMenu.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: E2E Tests
  Taskfile.yml
  src/lib/components/molecules/AddCollectionButton.svelte
  src/lib/components/molecules/CollectionGroups.svelte
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/CollectionGroups.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/__tests__/AddCollectionForm.test.ts
  src/lib/components/organisms/__tests__/CollectionGroups.test.ts
  src/lib/components/organisms/__tests__/CollectionSideBar.test.ts
  src/lib/components/organisms/__tests__/DraggableCollections.test.ts
  src/lib/components/organisms/__tests__/DraggableGroups.test.ts
  src/lib/components/organisms/__tests__/Group.test.ts
  src/lib/components/organisms/__tests__/SideBar.test.ts
  src/routes/my/+layout.svelte
  tests/UpdateCollections.test.ts
  tests/UpdateGroup.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

refactor: Start to abstract PB Client
  Taskfile.yml
  src/app.d.ts
  src/hooks.server.ts
  src/lib/pocketbase/client.ts
  src/lib/pocketbase/types.generated.ts
  src/routes/(unprotected)/(account)/+layout.server.ts
  src/routes/my/+layout.server.ts
  src/routes/my/collections/[name]/+page.server.ts
  src/routes/my/groups/+page.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: add browser testing to MRs
  .gitlab-ci.yml
Due: none

feat: Allow users to Rename Collections & Groups
  .gitlab-ci.yml
  src/hooks.server.ts
  src/lib/components/molecules/Collection.svelte
  src/lib/components/molecules/FormField.svelte
  src/lib/components/molecules/Password.svelte
  src/lib/components/molecules/PasswordInput.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/DraggableGroups.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/__tests__/AddCollectionForm.test.ts
  src/lib/components/organisms/__tests__/AddGroupForm.test.ts
  src/routes/my/collections/[id]/+page.server.ts
  src/routes/my/collections/[id]/+page.svelte
  src/routes/my/collections/[id]/+server.ts
  src/routes/my/collections/[name]/+server.ts
  src/routes/my/groups/[id]/+server.ts
  src/routes/my/groups/[name]/+server.ts
  tests/UpdateCollections.test.ts
  tests/UpdateGroup.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Browser Extension Support
  package.json
  pnpm-lock.yaml
  static/manifest.json
  svelte.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

chore(deps): update dependency @svelte-put/avatar to v2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat: Allow users to add bookmark
  pnpm-lock.yaml
  src/lib/components/atoms/Button.svelte
  src/lib/components/organisms/AddGroupForm.svelte
  src/lib/components/organisms/CollectionSideBar.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/Group.svelte
  src/lib/components/organisms/SideBar.svelte
  src/routes/my/collections/[id]/+page.server.ts
  src/routes/my/collections/[id]/+page.svelte
  tests/UpdateBookmarks.test.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: register button colour
  src/app.css
  src/lib/components/organisms/NavBar.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

chore(deps): update dependency @sveltejs/adapter-auto to v2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=.

feat: Call new bookmark endpoint
  Taskfile.yml
  src/lib/pocketbase/types.ts
  src/routes/my/+layout.server.ts
  src/routes/my/collections/[id]/+page.server.ts
  src/routes/my/collections/[id]/+page.svelte
  src/routes/my/groups/+page.server.ts
  svelte.config.js
  tests/pb_data/data.db
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

refactor: Move to default actions
  src/lib/components/organisms/AvatarProfileMenu.svelte
  src/lib/components/organisms/EmailVerificationForm.svelte
  src/lib/components/organisms/RegisterForm.svelte
  src/lib/components/organisms/ResetPasswordForm.svelte
  src/lib/components/organisms/__tests__/AvatarProfileMenu.test.ts
  src/lib/components/organisms/__tests__/SideBar.test.ts
  src/routes/(unprotected)/(account)/login/+page.server.ts
  src/routes/(unprotected)/(account)/login/+page.svelte
  src/routes/(unprotected)/(account)/register/+page.server.ts
  src/routes/(unprotected)/(account)/reset/+page.server.ts
  src/routes/(unprotected)/(account)/verify/+page.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

refactor: Use PB Client
  src/hooks.server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Improve collection page
  src/hooks.server.ts
  src/routes/my/collections/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Improve collection page
  src/lib/components/molecules/Bookmarks.svelte
  src/lib/components/molecules/TopBar.svelte
  src/lib/components/molecules/__tests__/Bookmarks.test.ts
  src/lib/components/molecules/__tests__/TopBar.test.ts
  src/lib/components/organisms/AddBookmarkModal.svelte
  src/lib/components/organisms/__tests__/AddBookmarkModal.test.ts
  src/routes/my/+layout.svelte
  src/routes/my/collections/[id]/+page.server.ts
  src/routes/my/collections/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: show bookmark count in collection
  src/app.css
  src/hooks.server.ts
  src/lib/components/atoms/LinkItem.svelte
  src/lib/components/atoms/__tests__/LinkItem.test.ts
  src/lib/components/molecules/Collection.svelte
  src/lib/components/molecules/LinkItems.svelte
  src/lib/components/molecules/__tests__/Collection.test.ts
  src/lib/components/molecules/__tests__/LinkItems.test.ts
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/SideBar.svelte
  src/lib/components/organisms/__tests__/CollectionGroups.test.ts
  src/lib/components/organisms/__tests__/CollectionSideBar.test.ts
  src/lib/components/organisms/__tests__/DraggableCollections.test.ts
  src/lib/components/organisms/__tests__/DraggableGroups.test.ts
  src/lib/components/organisms/__tests__/Group.test.ts
  src/lib/components/organisms/__tests__/SideBar.test.ts
  src/lib/types/components.ts
  src/routes/+layout.server.ts
  src/routes/my/+layout.server.ts
  src/routes/my/+layout.svelte
  src/routes/my/collections/[id]/+page.server.ts
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Improve PWA
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/app.html
  src/lib/components/molecules/Collection.svelte
  src/prompt-sw.ts
  static/logo.png
  static/robots.txt
  vite.config.js
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

feat: Bookmark "Infinite" Scroll
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/lib/components/molecules/Collection.svelte
  src/lib/components/organisms/DraggableCollections.svelte
  src/lib/components/organisms/SideBar.svelte
  src/routes/my/+layout.svelte
  src/routes/my/collections/[id]/+page.server.ts
  src/routes/my/collections/[id]/+page.svelte
  src/routes/my/collections/[id]/+server.ts
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json

fix: password on:input
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/atoms/Input.svelte
  src/lib/components/molecules/FormField.svelte
  src/lib/components/molecules/Password.svelte
  src/lib/components/molecules/PasswordInput.svelte
  src/routes/my/collections/[id]/+page.svelte
Due: prettier --write --plugin-search-dir=., eslint --fix, svelte-kit sync, svelte-check --tsconfig ./tsconfig.json
